/* -------------------------------------------------- */
/* ---------------------VARIABLES-------------------- */
/* -------------------------------------------------- */
/*  1.0 - GENERAL TEXT ATRIBUTES
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  2.0 - COLORS
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  3.0 - SCREEN SIZES
/* -------------------------------------------------- */
/* MEDIA QUERIES */
/* @extend display-flex; */
display-flex,
.form-row,
ul,
.title,
.actions ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background: #249b70;
  background: radial-gradient(circle, #249b70 0%, #2c503e 100%);
}

.main {
  padding: 50px 0;
}

.sidebar-wrapper {
  background: #f4f4f4;
  border-radius: 0 0 15px 15px;
  margin-top: 0;
  margin-bottom: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .sidebar-wrapper {
    border-radius: 0 15px 15px 0;
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 9;
  }
}

.content-wrapper {
  background: #ffffff;
  border-radius: 15px 15px 0 0;
  padding: 40px 0 0 0;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    border-radius: 15px;
    z-index: 10;
  }
}

.setup-content {
  padding: 0;
}

.center {
  text-align: center;
}

@font-face {
  font-family: "default-font";
  src: url("./assets/fonts/default-font.eot?1hmug0");
  src: url("./assets/fonts/default-font.eot?1hmug0#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/default-font.ttf?1hmug0") format("truetype"),
    url("./assets/fonts/default-font.woff?1hmug0") format("woff"),
    url("./assets/fonts/default-font.svg?1hmug0#default-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "default-font" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save-money:before {
  content: "\e900";
}

.icon-send:before {
  content: "\e901";
}

.icon-wallet:before {
  content: "\e902";
}

.icon-building:before {
  content: "\e903";
}

.icon-envelope:before {
  content: "\e904";
}

.icon-home:before {
  content: "\e905";
}

.icon-house:before {
  content: "\e906";
}

.icon-information:before {
  content: "\e907";
}

.icon-piggy-bank:before {
  content: "\e908";
}

.logo {
  display: block;
  margin-bottom: 30px;
}

.logo img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 240px;
}

.collapse-block {
  margin-bottom: 20px;
}

.sidebar-wrapper hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul.setup-panel {
  display: block;
  margin: 0;
  padding: 0;
}

ul.setup-panel li {
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  width: 100%;
}

ul.setup-panel li a {
  text-decoration: none;
}

ul.setup-panel li a:hover h4 {
  color: #2c503e;
}

ul.setup-panel li a:hover .list-ball {
  background-color: #249b70;
}

ul.setup-panel li h4 {
  color: #2c3e50;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  ul.setup-panel li h4 {
    font-size: 22px;
  }
}

ul.setup-panel li p {
  color: #7e868c;
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  margin: 0;
}

ul.setup-panel li.disabled a {
  cursor: not-allowed;
}

ul.setup-panel li.disabled h4,
ul.setup-panel li.disabled p {
  color: #7f7f7f;
}

ul.setup-panel li.disabled a:hover h4 {
  color: #7f7f7f;
}

ul.setup-panel li.disabled a:hover .list-ball {
  background-color: #bdbcbc;
}

ul.setup-panel:before {
  display: block;
  content: "";
  width: 6px;
  height: 170px;
  background: #7e868c;
  position: absolute;
  margin-left: 28px;
  margin-top: 40px;
  z-index: 1;
}

.list-ball {
  background: #2c503e;
  border-radius: 30px;
  color: white;
  display: block;
  float: left;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
  position: relative;
  text-align: center;
  width: 60px;
  z-index: 10;
}

li.disabled .list-ball {
  background: #bdbcbc;
}

li.active .list-ball {
  background: #249b70;
}

.list-ball span {
  font-size: 32px;
  height: 60px;
  line-height: 60px;
}

span.info-btn p {
  color: #2c503e;
  display: block;
  font-family: Oswald;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  margin: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  span.info-btn a {
    font-size: 16px;
    height: 24px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 992px) {
  span.info-btn a {
    font-size: 18px;
    height: 26px;
    line-height: 26px;
  }
}

span.info-btn a i {
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  float: right;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  span.info-btn a i {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 992px) {
  span.info-btn a i {
    font-size: 16px;
    height: 26px;
    line-height: 26px;
  }
}

span.info-btn a:hover {
  color: #249b70;
}

.link {
  color: #249b70;
  display: block;
  font-family: Oswald;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  margin: 5px 0;
  text-decoration: none;
  width: 100%;
}

a.showinfo_link.collapsed i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

a.showinfo_link i {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#info-proyecto-block p {
  margin-bottom: 0;
}

span.table-title {
  display: block;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.table-img {
  float: right;
}

.div-countries-table {
  height: 600px;
  overflow-y: auto;
}

.wrapper-step {
  padding: 40px;
}

legend {
  background: #249b70;
  padding: 30px;
}

legend span.step-heading {
  color: #ffffff;
  display: block;
  letter-spacing: 0.05em;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

legend span.step-number {
  color: #ffffff;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

legend span.step-number:before {
  width: 100px;
  height: 2px;
  display: block;
  content: "";
  background: #2c503e;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

span.step-description {
  color: #7e868c;
  display: block;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  span.step-description {
    padding: 0 60px;
  }
}

span.step-description-inner {
  color: #249b70;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

#form_proyecto {
  display: none;
}

@media only screen and (min-width: 768px) {
  img.plano-img {
    width: 400px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.signup-form {
  padding: 32px 40px 40px 40px;
}

input,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding: 15px 20px;
}

input:focus {
  border: 1px solid #666;
}

input.valid {
  border: 1px solid #249b70;
}

.form-control.valid {
  border: 1px solid #249b70;
}

[type="date"] {
  padding: 15px 8px 15px 20px;
  height: 50px;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form-group,
.form-select,
.form-date {
  margin-bottom: 15px;
  position: relative;
}

.form-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
}

.form-row .form-select {
  width: 160px;
}

.form-row .form-date {
  width: 266px;
}

label {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #2c3e50;
}

label.right {
  display: inline-block;
  float: right;
  width: auto;
}

label.separacion_label {
  float: left;
  width: auto;
}

label.required {
  position: relative;
}

label.required:after {
  content: "*";
  margin-left: 2px;
  color: #b90000;
}

span.span-value {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding: 0 12px;
}

.steps {
  margin-bottom: 23px;
}

.steps ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
}

ul.tablist a {
  text-decoration: none;
}

ul.tablist a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.icon {
  font-size: 29px;
}

.title {
  background: #7e868c;
  border-radius: 45px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  -ms-border-radius: 45px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  width: 90px;
  height: 90px;
  color: #fff;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.title:hover {
  background: #2c503e;
}

span.title span {
  font-size: 40px;
}

img.svg-icon {
  width: 50px;
}

.title_text {
  margin-top: -5px;
}

.current .title {
  background: #249b70;
}

li.done .title {
  background: #2c503e;
}

.content h3 {
  display: none;
}

fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
}

.actions {
  margin-top: 25px;
}

.actions .disabled {
  display: none;
}

.actions ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
}

.actions ul li {
  margin-left: 10px;
}

.actions ul li a {
  background: #249b70;
  width: auto;
  padding: 10px 20px;
  height: 50px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 600ms;
  transition: 600ms;
  cursor: pointer;
}

.actions ul li button {
  background: #249b70;
  width: auto;
  padding: 10px 20px;
  height: 50px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 600ms;
  transition: 600ms;
  border: 0px;
  cursor: pointer;
}

.actions ul li a:hover {
  background-color: #2c503e;
}

.actions ul li button:hover {
  background-color: #2c503e;
}

.actions ul li a i.fa-chevron-left {
  margin-right: 10px;
}

.actions ul li button i.fa-chevron-left {
  margin-right: 10px;
}

.actions ul li a i.fa-chevron-right {
  margin-left: 10px;
}

.actions ul li button i.fa-chevron-right {
  margin-left: 10px;
}

.actions ul li a i.fa-paper-plane {
  margin-left: 10px;
}

.actions ul li button i.fa-paper-plane {
  margin-left: 10px;
}

.actions ul li.btn-grey a {
  background: #7e868c;
}

.actions ul li.btn-grey a:hover {
  background: #bdbcbc;
}

.actions ul li.btn-green a {
  background: #45b549;
}

.actions ul li.btn-green a:hover {
  background: #348c42;
}

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
}

label.error:after {
  font-family: "default-font" !important;
  position: absolute;
  content: "\e907";
  right: 14px;
  top: 40px;
  font-size: 20px;
  color: #ff1212;
}

.select-list label.error {
  margin-top: -30px;
}

select.error {
  border: 1px solid #ff1212;
}

input.error {
  border: 1px solid #ff1212;
}

.actions ul#menu-lateral li {
  width: 50%;
}

.actions ul#menu-lateral li:first-child {
  margin-left: 0;
}

.actions ul#menu-lateral li.menu-lateral-step1 {
  display: block;
}

.actions ul#menu-lateral li.menu-lateral-step2 {
  display: none;
}

.actions ul#menu-lateral li.menu-lateral-step3 {
  display: none;
}

.select-list {
  position: relative;
  display: inline-block;
  width: 100%;
}

.list-item {
  position: absolute;
  width: 100%;
  z-index: 99;
}

.form-control {
  height: 50px;
  border: 1px solid #ebebeb;
  font-size: 16px;
}

label.label-h {
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
}

.input-group-text {
  background-color: #249b70;
  border: 1px solid #249b70;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #249b70;
  background-color: #249b70;
}

.row.row-w {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 0;
}

.form-text {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
}

.switch-wrapper {
  margin-bottom: 0;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.input-group.input-date i {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 16px;
  pointer-events: none;
}

button.add_planpagos {
  border: none;
  background: #45b549;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  float: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 24px;
  padding: 0 14px;
  text-transform: uppercase;
  width: auto;
}

button.add_planpagos i {
  margin-left: 10px;
}

button.add_planpagos:hover {
  background: #348c42;
}

button.add_button {
  border: none;
  background: #45b549;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  float: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 24px;
  padding: 0 14px;
  text-transform: uppercase;
  -webkit-transition: 600ms;
  transition: 600ms;
  width: auto;
}

@media only screen and (min-width: 768px) {
  button.add_button {
    margin-top: 0;
    float: right;
  }
}

button.add_button i {
  margin-left: 10px;
}

button.add_button:hover {
  background: #348c42;
}

button.remove_button {
  background: #d11e1e;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  height: 20px;
  line-height: 18px;
  margin-top: -15px;
  margin-left: 8px;
  position: absolute;
  -webkit-transition: 600ms;
  transition: 600ms;
  width: 20px;
}

@media only screen and (min-width: 768px) {
  button.remove_button {
    margin-top: 15px;
    position: relative;
  }
}

button.remove_button:hover {
  background: #9d1616;
}

button.remove_button:focus,
button.add_button:focus {
  outline: none;
}

.btn-group {
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

button.btn-half {
  background: #249b70;
  width: auto;
  padding: 10px 20px;
  height: 50px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 600ms;
  transition: 600ms;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

button.btn-half:hover {
  background-color: #2c503e;
}

button.btn-half.green {
  background: #45b549;
}

button.btn-half.green:hover {
  background: #348c42;
}

button.btn-half.grey {
  background: #7f7f7f;
}

button.btn-half.grey:hover {
  background: #bdbcbc;
}

button.btn-full {
  background: #249b70;
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 600ms;
  transition: 600ms;
  border: none;
  margin: 0;
  cursor: pointer;
}

button.btn-full:hover {
  background-color: #2c503e;
}

button.btn-full.green {
  background: #45b549;
}

button.btn-full.green:hover {
  background: #348c42;
}

input.invalid,
textarea.invalid {
  border: 2px solid red;
}

input.valid,
textarea.valid {
  border: 2px solid green;
}

.error {
  display: none;
  margin-left: 10px;
}

.error_show {
  color: red;
  margin-left: 10px;
}

/* The switch - the box around the slider */
label.switch-title {
  text-align: center;
}

span.switch-valor {
  text-align: center;
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
}

.switch-wrapper {
  display: block;
  height: 26px;
  width: 110px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.switch {
  display: block;
  float: left;
  height: 26px;
  position: relative;
  width: 50px;
}

label.switch {
  margin-bottom: 0;
}

p.switch-text {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  height: 26px;
  padding: 0 6px;
  position: relative;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #45b549;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #249b70;
  box-shadow: 0 0 1px #249b70;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.check input {
  float: left;
  display: block;
  position: relative;
  width: auto;
  margin-left: 0px;
  margin-right: 10px;
}

.check small {
  float: left;
  position: relative;
}

/* Angular slider styles */

.ng5-slider .ng5-slider-bar {
  height: 9px !important;
  border-radius: 5px !important;
}

.ng5-slider .ng5-slider-pointer {
  background-color: #348c42 !important;
}

.ng5-slider .ng5-slider-pointer:after {
  content: "";
  width: 22px !important;
  height: 22px !important;
  position: absolute !important;
  top: 5px !important;
  left: 5px !important;
  border-radius: 10px !important;
  background: #fff !important;
}

.ng5-slider .ng5-slider-bubble {
  color: #348c42 !important;
  font-size: 17px !important;
  font-family: "Oswald", sans-serif !important;
  font-weight: bold !important;
}

/* Progress i */
i.animated {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Progress bar */
.progress-bar.animate {
  width: 100%;
}

.modal {
  top: 40vh !important;
}

.modal-content-loading {
  background-color: transparent !important;
  border: 0px !important;
  border-radius: 0rem !important;
}

/* blocks definition */

.block-resumen {
  border: 2px solid #7fcbe2;
  border-radius: 15px;
  height: auto;
  margin-top: 30px;
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .block-resumen {
    height: 100px;
  }
}

.block-resumen span#resumen-meses:after {
  content: " Meses";
}

.block-resumen span.block-resumen-value {
  color: #2c3e50;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .block-resumen span.block-resumen-value {
    font-size: 22px;
  }
}

.block-resumen span.block-resumen-text {
  color: #7e868c;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .block-resumen span.block-resumen-text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 6px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .block-resumen span.block-resumen-text {
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    padding: 0 20px;
  }
}

.block-cuota.block-cuota_saldocuotainicial,
.block-cuota.block-cuota_valorcuotamensual {
  height: 60px;
  margin-top: 10px;
  padding: 5px 0;
}

.block-cuota.block-cuota_separacion,
.block-cuota.block-cuota_cuotainicial {
  height: 128px;
  margin-top: 10px;
  padding: 20px 0 20px 0;
}

.block-cuota.block-cuota_propuesta {
  height: 110px;
  margin-top: 10px;
  padding: 20px 0 20px 0;
}

.block-cuota.block-cuota_propuestacuotas {
  height: 110px;
  margin-top: 10px;
  padding: 10px 0 10px 0;
}

.block-cuota-wrapper.full {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.block-cuota-wrapper {
  padding: 0 15px;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .block-cuota-wrapper {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.block-cuota-wrapper.block-half {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-transition: 600ms;
  transition: 600ms;
}

@media only screen and (min-width: 768px) {
  .block-cuota-wrapper.block-half {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block-cuota-wrapper.block-hide {
  -webkit-box-flex: 0%;
  -ms-flex: 0%;
  flex: 0%;
  max-width: 0%;
  display: none;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.block-cuota_propuesta.validate {
  border: 2px solid #249b70;
}

.block-cuota_separacion.validate {
  border: 2px solid #249b70;
}

.block-cuota_cuotainicial.validate {
  border: 2px solid #249b70;
}

.block-cuota.block-cuota_propuestacuotas.validate {
  border: 2px solid #249b70;
}

.block-cuota {
  border: 2px solid #7fcbe2;
  border-radius: 15px;
  height: auto;
  margin-top: 30px;
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .block-cuota {
    height: 100px;
  }
}

.block-cuota span#resumen-meses:after {
  content: " Meses";
}

.block-cuota span#propuesta_cuotainicial {
  font-size: 34px;
  line-height: 36px;
}

.block-cuota span#ajuste-propuesta_cuotainicial {
  font-size: 34px;
  line-height: 36px;
}

.block-cuota span#propuesta_meses:after {
  content: "cuotas";
  padding-left: 8px;
  font-size: 16px;
}

.block-cuota span#propuesta_valorcuota:after {
  content: "mensual";
  padding-left: 8px;
  font-size: 16px;
}

.block-cuota span.block-cuota-value {
  color: #2c3e50;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .block-cuota span.block-cuota-value {
    font-size: 22px;
  }
}

.block-cuota span.block-cuota-text {
  color: #7e868c;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .block-cuota span.block-cuota-text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 6px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .block-cuota span.block-cuota-text {
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    padding: 0 20px;
  }
}

.block-cuota span.block-cuota-small {
  color: #7e868c;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .block-cuota span.block-cuota-small {
    font-size: 12px;
    line-height: 14px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .block-cuota span.block-cuota-small {
    font-size: 12px;
    line-height: 14px;
    padding: 0 20px;
  }
}

.block-propuesta.block-propuesta_ingresosfamiliares,
.block-propuesta.block-propuesta_cuotamensual,
.block-propuesta.block-propuesta_meses {
  height: 110px;
  margin-top: 10px;
  padding: 20px 0 20px 0;
}

.block-propuesta.block-propuesta_valorfinanciar {
  height: 110px;
  margin-top: 10px;
  padding: 20px 0 20px 0;
}

.block-propuesta-wrapper.full {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.block-propuesta-wrapper {
  padding: 0 15px;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .block-propuesta-wrapper {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.block-propuesta-wrapper.block-half {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-transition: 600ms;
  transition: 600ms;
}

@media only screen and (min-width: 768px) {
  .block-propuesta-wrapper.block-half {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block-propuesta-wrapper.block-hide {
  -webkit-box-flex: 0%;
  -ms-flex: 0%;
  flex: 0%;
  max-width: 0%;
  display: none;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.block-propuesta {
  border: 2px solid #45b549;
  border-radius: 15px;
  height: auto;
  margin-top: 30px;
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .block-propuesta {
    height: 100px;
  }
}

.block-propuesta span#financiacion_valor {
  font-size: 34px;
  line-height: 36px;
}

.block-propuesta span#ajuste-financiacion_valor {
  font-size: 34px;
  line-height: 36px;
}

.block-propuesta span.block-propuesta-value {
  color: #2c3e50;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .block-propuesta span.block-propuesta-value {
    font-size: 22px;
  }
}

.block-propuesta span.block-propuesta-text {
  color: #7e868c;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .block-propuesta span.block-propuesta-text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 6px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .block-propuesta span.block-propuesta-text {
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    padding: 0 20px;
  }
}

.block-propuesta span.block-propuesta-small {
  color: #7e868c;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .block-propuesta span.block-propuesta-small {
    font-size: 12px;
    line-height: 14px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .block-propuesta span.block-propuesta-small {
    font-size: 12px;
    line-height: 14px;
    padding: 0 20px;
  }
}
